@page "/atkinsondiet"

<h1>The Atkins Diet: Everything You Need to Know</h1>

<hr />

<p>The Atkins diet is split into 4 different phases:</p>

<ul>
    <li><strong>Phase 1 (induction):</strong> Under 20 grams of carbs per day for 2 weeks. Eat high-fat, high-protein, with low-carb vegetables like leafy greens. This kick-starts the weight loss.</li>
    <li><strong>Phase 2 (balancing):</strong> Slowly add more nuts, low-carb vegetables and small amounts of fruit back to your diet.</li>
    <li><strong>Phase 3 (fine-tuning):</strong> When you’re very close to your goal weight, add more carbs to your diet until weight loss slows down.</li>
    <li><strong>Phase 4 (maintenance):</strong> Here you can eat as many healthy carbs as your body can tolerate without regaining weight.</li>
</ul>

<hr />

<h3>Foods to avoid:</h3>

<hr />

<p>
    You should avoid these foods on the Atkins diet:
</p>

<ul>
    <li><strong>Sugar:</strong>Soft drinks, fruit juices, cakes, candy, ice cream</li>
    <li><strong>Grains:</strong>Wheat, spelt, rye, barley, rice.</li>
    <li><strong>Vegetable oils:</strong>Soybean oil, corn oil, cottonseed oil, canola oil </li>
    <li><strong>Trans fats:</strong>Usually found in processed foods with the word "hydrogenated" on the ingredients list.</li>
    <li><strong>"Diet" and "low-fat" foods:</strong>These are usually very high in sugar.</li>
    <li><strong>High carb vegetables:</strong>Carrots, turnips, etc (induction only).</li>
    <li><strong>High-carb fruits:</strong>Bananas, apples, oranges, pears, grapes (induction only).</li>
    <li><strong>Starches:</strong>Potatoes, sweet potatoes (induction only).</li>
    <li><strong>Legumes:</strong>Lentils, beans, chickpeas, etc. (induction only).</li>
</ul>

<hr />

<h3>Foods to eat: </h3>

<hr />

<p>
    You should base your diet around these healthy foods.
</p>

<ul>
    <li><strong>Meats: </strong>Beef, pork, lamb, chicken, bacon and others.</li>
    <li><strong>Fatty fish and seafood: </strong>Salmon, trout, sardines, etc.</li>
    <li><strong>Eggs: </strong>The healthiest eggs are omega-3 enriched or pastured.</li>
    <li><strong>Low-carb vegetables: </strong>Kale, spinach, broccoli, asparagus and others.</li>
    <li><strong>Full-fat dairy:</strong>Butter, cheese, cream, full-fat yogurt.</li>
    <li><strong>Nuts and seeds: </strong> Almonds, macadamia nuts, walnuts, sunflower seeds, etc.</li>
    <li><strong>Healthy fats: </strong>Extra virgin olive oil, coconut oil, avocados and avocado oil.</li>
</ul>

<hr />

<h3>Beverages:</h3>

<hr />

<p>Here are some drinks that are acceptable on the Atkins diet.</p>

<ul>
    <li><strong>Water: </strong>As always, water should be your go-to beverage.</li>
    <li><strong>Coffee: </strong>Many studies show that coffee is high in antioxidants and quite healthy.</li>
    <li><strong>Green tea: </strong> A very healthy beverage.</li>
</ul>

<hr />

<h3>A Sample Atkins Menu for One Week:</h3>

<hr />

<h5>Monday</h5>
<ul>
    <li><strong>Breakfast:</strong>Eggs and vegetables, fried in coconut oil.</li>
    <li><strong>Lunch:</strong>Chicken salad with olive oil, and a handful of nuts.</li>
    <li><strong>Dinner:</strong>Steak and veggies.</li>
</ul>
<h5>Tuesday</h5>
<ul>
    <li><strong>Breakfast:</strong>Bacon and eggs.</li>
    <li><strong>Lunch:</strong> Leftover chicken and veggies from the night before.</li>
    <li><strong>Dinner:</strong>Bunless cheeseburger, with vegetables and butter.</li>
</ul>
<h5>Wednesday</h5>
<ul>
    <li><strong>Breakfast:</strong>Omelet with veggies, fried in butter.</li>
    <li><strong>Lunch:</strong> Shrimp salad with some olive oil.</li>
    <li><strong>Dinner:</strong>Ground-beef stir fry, with veggies.</li>
</ul>
<h5>Thursday</h5>
<ul>
    <li><strong>Breakfast:</strong>Eggs and veggies, fried in coconut oil.</li>
    <li><strong>Lunch:</strong> Leftover stir fry from dinner the night before.</li>
    <li><strong>Dinner:</strong>Salmon with butter and vegetables.</li>
</ul>
<h5>Friday</h5>
<ul>
    <li><strong>Breakfast:</strong>Bacon and eggs.</li>
    <li><strong>Lunch:</strong>Chicken salad with olive oil and a handful of nuts.</li>
    <li><strong>Dinner:</strong>Meatballs with vegetables.</li>
</ul>
<h5>Saturday</h5>
<ul>
    <li><strong>Breakfast:</strong>Omelet with various vegetables, fried in butter.</li>
    <li><strong>Lunch:</strong>Leftover meatballs from the night before.</li>
    <li><strong>Dinner:</strong>Pork chops with vegetables.</li>
</ul>
<h5>Sunday</h5>
<ul>
    <li><strong>Breakfast:</strong>Bacon and eggs.</li>
    <li><strong>Lunch:</strong>Leftover pork chops from the night before.</li>
    <li><strong>Dinner:</strong>Grilled chicken wings, with some salsa and veggies.</li>
</ul>

<hr />

<h3>A shopping list for this diet: </h3>

<hr />

<p>Eating organic is not necessary, but always go for the least processed option that fits your budget:</p>

<ul>
    <li><strong>Meat</strong></li>
    <li><strong>Beef</strong></li>
    <li><strong>Chicken</strong></li>
    <li><strong>Lamb</strong></li>
    <li><strong>Pork</strong></li>
    <li><strong>Fatty fish like trout</strong></li>
    <li><strong>Salmon</strong></li>
    <li><strong>Shrimp</strong></li>
    <li><strong>Shellfish</strong></li>
    <li><strong>Eggs</strong></li>
    <li><strong>Greek Yoghurt</strong></li>
    <li><strong>Heavy Cream</strong></li>
    <li><strong>Butter</strong></li>
    <li><strong>Cheese</strong></li>
    <li><strong>Vegetables like lettuce, tomatoes or asparagus</strong></li>
    <li><strong>Spinach</strong></li>
    <li><strong>Kale</strong></li>
    <li><strong>Lettuce</strong></li>
    <li><strong>Broccoli</strong></li>
    <li><strong>Cauliflower</strong></li>
    <li><strong>Onions</strong></li>
    <li><strong>Berries</strong></li>
    <li><strong>Blueberries</strong></li>
    <li><strong>Strawberries</strong></li>
    <li><strong>Almonds</strong></li>
    <li><strong>Macadamia nuts</strong></li>
    <li><strong>Walnuts</strong></li>
    <li><strong>Sunflower seeds</strong></li>
    <li><strong>Apples</strong></li>
    <li><strong>Oranges</strong></li>
    <li><strong>Coconut oil</strong></li>
    <li><strong>Olives</strong></li>
    <li><strong>Extra virgin olive oil</strong></li>
    <li><strong>Dark chocolate</strong></li>
    <li><strong>Avocados</strong></li>
</ul>

@code {

}